body {
  /* display: flex; */
  font-family: Helvetica, Verdana, Arial, sans-serif; 
  background: url(images/nysl_logo.png), url(images/soccer.png); 
  background-repeat: no-repeat; 
  background-size: 150px 150px, 1024px 768px ;
  background-attachment: fixed;
}
header{
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex;
  flex-wrap: wrap;
  min-width: 600px; */
}
#container{
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 0;
  margin-right: auto; */
 width: 100vw; 
}
.line{
  width: 0%;
}

#nav  a, #nav li{
  list-style-type: none;
}
a:link {
  text-decoration: none;
  font-size: 1em;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}

#pageheader{
  width: 100vw;
  order: -10;
  font-size: 1.5em;
  font-style: italic;
  padding-left: 20%;
}

#bodycontent{
  height: 50vh;
  overflow:scroll;
 width: 30vw;
 order: 10;
  border-style: dashed;
  border-color: black;
  border-width: 3px;
  padding: 1em; 
  z-index: 2;
}

#bodycontent h1{
  font-size: 1.5em;
}

#bodycontent h2{
  font-size: 1.1em;
  text-transform:uppercase;
}

#bodyconent h2{
    padding: 0px;
    margin: 0px;
}

#bodycontent ul{
  list-style-type: square;
}

#infotable th{
  text-decoration: underline;
  padding: 0 1.0em;
  padding-top: 1em; 
}

#infotable td{
  text-align: left;
  padding: 0 1.0em;
}

#bodycontent address{
  font-style: normal;
}

#titlecenter{
  text-align: center;
}

#upcoming h2{
  font-size: 1.0em;
  font-weight:normal;
  font-style: italic; 
  text-transform:none;
}

iframe{
  border: 0;
  overflow: hidden;
  margin: 0;
}

#infotable h3, #rules h3{
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1em;
}

#gamelocations td{
  padding: 2em;
}

legend{
  font-weight: bold;
}

fieldset{
  margin: 2em 0;
}

fieldset label{
  padding-left: 2em;
}

.impinfo{
  font-weight: bold;
  font-size:  .95em;
  padding: 0em;
}

.note{
  font-weight: normal;
  font-size: 1.0em;
}

.indent{
  margin-top: -1em;
  margin-left: 1em;
}

.uniformchoice, .contract{
  font-size: .8em;
}

.announcement{
font-style: italic; 
text-decoration: underline;
}

#first_name, #last_name, #street_address, #city, #zip, #birth_date, #parent_guardian, #contact_phone, #contact_email, #signature, #sig_date{
  display: block;
  margin-bottom: .5em;
}
#street_address{
  width: 20em;
}
#city{
  width: 15em;
}
#zip{
  width: 4em;
}
#birth_date{
  width: 6em;
}
#contact_phone{
  width: 7em;
} 
#contact_email{
  width: 15em;
}
#sig_date{
  width: 5em;
}

fieldset{
  border:solid 1px green;
}

form h3{
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.stylized label{
  width:12em;
  padding-right: 1em;
  text-align: right;
  float: left;  
}

input{
  padding:4px 2px;
  border:solid 1px green;
}
.iconburguer{
  align-self: flex-end;
  width: 45px;
  height: 35px;
}.menu_bar {
	display:none;
}
@media screen and (max-width:800px ) {

  body {
    margin: 0%;
    margin-top: 5px;
    padding: 0%;
    background: url('./images/soccer.png') no-repeat center bottom fixed ,url('./images/nysl_logo.png') no-repeat center top fixed;
    background-size: 100vw, 20vw;
    }
    ul{
      padding: 0%;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
	header nav {
    top: 0%;
    height: 100vh;
    background-color: white;
    display: flex;
		width:100vw;
		left:-100%;
		margin:0;
		position: fixed;
	}
.menu_bar{
  justify-content: space-around;
  color: red;
}
 #nav {
   
    z-index: 3;
    /* background-color: rgb(255, 255, 255); */
  } 

	header nav ul li {
    font-size: 1.5rem;
    line-height: 3em; 
		display:block;
    text-align: center;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
   display: flex;
	  justify-content: center;
		width:100%;
    margin-bottom: 15%;
	}

	.menu_bar .bt-menu {
	position: absolute;
  right:20px;
  top: 20px;
    text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

#pageheader{
margin: 0%;
padding: 0%;
  font-size: 1rem;
  margin-top: 20%;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}
#bodycontent{
  height: 65vh;
  width: 100vw;
  margin: 0%;
  margin-bottom: 10px;
  order: -1;
}
.line{
  width: 100vw;
}
.stylized label{
  /* display: none; */
  display: flex;
  align-self: flex-start;
}
.stylized input{
  
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  right: 0;
  left: 0;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(81,184,41,0.4) 0, rgba(81,184,41,0.4) 50%, rgba(207,239,201,1) 87%, rgba(207,239,201,1) 100%), rgba(252,252,252,1);
  background: -moz-linear-gradient(180deg, rgba(81,184,41,0.4) 0, rgba(81,184,41,0.4) 50%, rgba(207,239,201,1) 87%, rgba(207,239,201,1) 100%), rgba(252,252,252,1);
  background: linear-gradient(180deg, rgba(81,184,41,0.4) 0, rgba(81,184,41,0.4) 50%, rgba(207,239,201,1) 87%, rgba(207,239,201,1) 100%), rgba(252,252,252,1);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  
}
#street_address{
  width: 100%;
}
#city{
  width: 100%;
}
#zip{
  width: 100%;
}
#birth_date{
  width: 100%;
}
#contact_phone{
  width: 100%;
} 
#contact_email{
  width: 100%;
}
#sig_date{
  width: 100%;
}
}